body {
  margin: 0 !important;
}
body,
html,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}
.my-paper {
  padding: 10px;
}
.my-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.my-paper span.amount {
  font-size: 2rem;
  color: #1876d2;
  font-weight: bold;
}
.piggy-bank {
  width: 100px;
  height: 140px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: 2px solid;
  border-radius: 14px;
}
.piggy-bank.default {
  background-color: white;
  color: grey;
  border-color: grey;
}
.piggy-bank.secondary {
  background-color: white;
  color: #9c27b0;
  border-color: #9c27b0;
}
.piggy-bank.primary {
  background-color: white;
  color: #1976d2;
  border-color: #1976d2;
}
.piggy-bank .my-icon {
  font-size: 5rem;
}
.piggy-bank .amount {
  font-size: 2rem;
}
.my-select-item .my-icon {
  margin-right: 10px !important;
}
